li {
    /* border: 5pt solid black; */
    list-style: none;
    width: 600pt;
    height: 200pt;
    margin: 5pt;
    padding: 2pt;
    margin-bottom: 120pt;
  }
  
  img{
    height: 200pt;
    margin: 10pt;
    float: left;
  }
  h3{
    font-size: 20pt;
    color: 	darkturquoise;
  }
  h4 {
    margin-top: 20pt;
    font-size: 16pt;
    color: 	lightcoral;

  }

  p{
    font-size: 14pt;
  }

  span{
    color: 	darkgoldenrod;
    margin: 5pt;
  }